asgiref==3.8.1
asyncio==3.4.3
certifi==2025.4.26
charset-normalizer==3.4.2
configparser==7.2.0
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
dnspython==2.7.0
greenlet==3.2.1
idna==3.10
mongoengine==0.29.1
playwright==1.52.0
pyee==13.0.0
pymongo==4.12.1
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
